.banner {
  background-image: url("../../../images/bannerbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* height: 80vh; */
  /* filter: grayscale(55%); */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(8px); */
}
img {
  margin-left: auto;
  margin-right: auto;
}
.banner-first {
  color: #fff;
  /* font-size: bold;
	font-weight: 700; */
}
