body {
  overflow-x: hidden;
}
.step {
  margin: 300px auto;
}
.step img {
  width: 80px;
  margin: 20px auto;
}
.step-ul {
  text-align: center;
}
.step-ul li {
  display: inline-block;
  width: 360px;
  position: relative;
}
.step-ul li .line {
  background: #ccc;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
@media (min-width: 1280px) {
  .step-ul li .line::after {
    content: " ";
    background: #ccc;
    height: 5px;
    width: 365px;
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: -1;
  }
  .step-ul li:nth-child(3) i {
    background: #148e14;
  }
  .step-ul li:nth-child(3) .line::after {
    background: #148e14;
  }
  .step-ul li:nth-child(1) .line::after,
  .step-ul li:nth-child(2) .line::after {
    background: #60aa97;
  }
  .step-ul li:nth-child(1) .line,
  .step-ul li:nth-child(2) .line {
    background: #60aa97;
  }
  .step-ul li:first-child .line::after {
    width: 180px;
    left: 180px;
  }
  .step-ul li:last-child .line::after {
    width: 180px;
  }
}
@media (min-width: 768px) {
  .step-ul li {
    display: inline-block;
    width: 222px;
    position: relative;
  }
  .step-ul li:first-child .line::after {
    width: 120px;
    left: 120px;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
